body {
    background-color: #f4f4f9; /* Color de fondo de la página */
    padding: 20px;
    font-family: sans-serif;
}

.tarjeta {
    width: 300px;
    padding: 20px;
    background-color: white; /* Fondo blanco */
    
    /* Bordes redondeados */
    border-radius: 15px;
    
    /* Sombra */
    box-shadow: 0 10px 20px rgba(255, 0, 0, 1); /* Sombra roja */
    
    margin-bottom: 20px;
}

.imagen-fondo {
    width: 100%;
    height: 200px;
    
    /* Imagen de fondo */
    background-image: url('https://via.placeholder.com/500');
    background-size: cover; /* Cubrir todo el div */
    background-position: center; /* Centrar la imagen */
    
    border-radius: 10px;
}

.gradiente {
    width: 100%;
    height: 100px;
    /* Degradado lineal */
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius: 10px;
    margin-top: 10px;
}
